.cajaTextoFormularioTelefono {
    background-color: #202427;
    border: 0.01rem solid #41464b;
    color: white;
    border-radius: 16px;
    padding: 10px;
    height: 40px;
    width: 127px;
    margin-bottom: 10px;
  }

  .cajaTextoFormularioTelefono:focus {
    background-color: #202427;
    border: 0.01rem solid #41464b;
    color: white;
  }

  .btnEditarFormulario{
    background-color: #5494F5;
    color: #292E32;
    font-family: 'Quicksand','sans-serif';
    font-size: 13px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 12px;
  }
  
  .btnEditarFormulario:hover{
    background-color: #3964a3;
    color: white;
  }

  #cuadroContenido2 {
    padding: 50px;
    background-color: #292E32;
    border-radius: 10px;
    height: 720px;
  }