#cuadroContenido1{
    padding: 50px;
    background-color: #292E32;
    border-radius: 10px;
    height: 95vh;
    
  }

#menuAlqui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 73%;
}  
  