

  

  input[type=text]:disabled {
    background-color: #202427;
    border: 0.01rem solid #41464b;
    color: white;
    border-radius: 16px;
    padding: 10px;
    height: 40px;
    width: 290px;
    margin-bottom: 10px;
  }

  
  input[readonly], input[readonly="readonly"] {
    background-color: yellow;
}

.cajaTextoFormularioR {
  background-color: #202427;
  border: 0.01rem solid #41464b;
  color: white;
  border-radius: 16px;
  padding: 10px;
  height: 300px;
  width: 400px;
  margin-bottom: 10px;
}

.cajaTextoFormularioR:focus {
  background-color: #202427;
  border: 0.01rem solid #41464b;
  color: white;
}

.modal-content {
  border-radius: 15px;
  background-color: #202427;

}

.textoModal {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color: #ffffff;
  justify-content: start;
}

.modal-header {
  border-bottom: 0 none;
  text-align: center !important;
}

.modal-footer {
  border-top: 0 none;
}

.tituloModal{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #65717a;
  justify-content: start;
}

.cuerpoModal{
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color: #ffffff;
  justify-content: start;
}

.iconoModal{
  color: #65717a;
  font-size: 18px;
}

.cajaTextoModal {
  background-color: #191c1f;
  border: 0.01rem solid transparent;
  color: #ffffff;
  border-radius: 16px;
  padding: 10px;
  height: 40px;
  margin-bottom: 10px;
  
}

.cajaTextoModal:focus {
  background-color: #191c1f;
  border: 0.01rem solid transparent;
  color: #ffffff;
}

.cajaTextoModal::-webkit-input-placeholder { color: #65717A; } 

.cajaTextoModal:-moz-placeholder { /* Firefox 18- */ color: #65717A; } 

.cajaTextoModal::-moz-placeholder { /* Firefox 19+ */ color: #65717A; } 

.cajaTextoModal:-ms-input-placeholder { color: #65717A; }

.marginBoton{

  margin-top: 30px;
}

.marginCol2{

  margin-top: 52px;
}

.btnInicio2{
  background-color: transparent;
  border-radius: 20px;
  padding: 5%;
  border-left: 3px solid transparent;
  margin-left: 12px;
}

.btnInicio2:hover{
  background-color: #292E32;
  border-left: 3px solid #5494F5;
}

.fotoMaterial{
  width: 250px;
  height: 195px;
  border-radius: 5px;
}

.fotoMaterial2{
  width: 220px;
  height: 195px;
  border-radius: 5px;
}