#cuadroContenido1{
    padding: 50px;
    background-color: #292E32;
    border-radius: 10px;
    height: 95vh;
    
  }


  




.contenedorDetalle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:  #202427;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 340px;
  border-radius:10px;
}

.contenedorDetalle6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 340px;
  border-radius:10px;
  border: 1px solid #5494F5;
}

.contenedorDetalle1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtituloPaginaV{
  font-family: 'Quicksand','sans-serif';
  font-size: 18px;
  font-weight: 700;
  color: #5494F5;
  margin-top: 10px;
  padding-right: 25px;
}

.botonVisita{
  margin-right: 20px;
}

.btnAgregarFormularioV:hover{
  background-color: #3964a3;
  color: white;
}

.marginSegundaColumna{
  margin-top: 10px;
}

.tablaVisitas th{
  text-align: center;
  font-size: 15px;
  padding-right:45px;
  
}

.contenedorDetalle4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:  #202427;;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-radius:10px;
}

.marginSegundaColumna{
  padding-top: 5px;
}


.botonVisi{
  padding-left: 170px ;
}

.marginTerceraColumna{
  margin-top: 7px;
}

.modVisi{
  padding-left: 30px ;
}

.buscarAlquiler{
  padding-right: 50px ;
}

.tarjeta4{
  content: "";
  background-color: #202427;
  width: 280px;
  height: 335px;
  border-radius: 15px;
  padding: 15px;
}

@media screen and (max-width:900px) {


  .cajaTextoFormulario {
    height: 40px;
    width: 200px;
  }

  .botonVisi{
    padding-left: 0px ;
  }
}

@media screen and (max-width:1200px) {


  .botonVisi{
    padding-left: 0px ;
  }
}

@media screen and (max-width:767px) {
  
  .cajaTextoFormularioHora {
    height: 40px;
    width: 290px;
  }

  .cajaTextoFormulario {
    height: 40px;
    width: 290px;
  }

  .cajaTextoFormularioPrecio {
    height: 40px;
    width: 290px;
  }

  #cuadroContenido1{
    padding: 50px;
    background-color: #292E32;
    border-radius: 10px;
    height:800px;
    
  }

  .buscarAlquiler{
    padding-right: 0px ;
    justify-content: center;
  }
  
  .centrarColumnas4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
@media screen and (max-width:500px) {


  .botonVisi{
    padding-left: 0px ;
  }
  
}

