#cuadroContenido1{
    padding: 50px;
    background-color: #292E32;
    border-radius: 10px;
    height: 95vh;
    
  }

#menuAlqui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 73%;
}  
  
.cajaTextoFormularioHora {
  background-color: #202427;
  border: 0.01rem solid #41464b;
  color: white;
  border-radius: 16px;
  padding: 10px;
  height: 40px;
  width: 130px;
  margin-bottom: 10px;
}

.cajaTextoFormularioHora:focus {
  background-color: #202427;
  border: 0.01rem solid #41464b;
  color: white;
}

.cajaTextoFormularioPrecio {
  background-color: #202427;
  border: 0.01rem solid #41464b;
  color: white;
  border-radius: 16px;
  padding: 10px;
  height: 40px;
  width: 95px;
  margin-bottom: 10px;
}

.cajaTextoFormularioPrecio:focus {
  background-color: #202427;
  border: 0.01rem solid #41464b;
  color: white;
}

.cargarFoto6{
  width: 200px;
  height: 165px;
  border-radius: 5px;
  border: 1px solid #5494F5
}

.cargarFoto7{
  width: 60px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #5494F5
}

.divFotografia4{
  display: flex;
  flex-direction: inline;
  align-items: center;
  justify-content: center;
  width: min-content;
}


@media screen and (max-width:900px) {


  .cajaTextoFormulario {
    height: 40px;
    width: 200px;
  }
}

@media screen and (max-width:767px) {
  
  .cajaTextoFormularioHora {
    height: 40px;
    width: 290px;
  }

  .cajaTextoFormulario {
    height: 40px;
    width: 290px;
  }

  .cajaTextoFormularioPrecio {
    height: 40px;
    width: 290px;
  }

  #cuadroContenido1{
    padding: 50px;
    background-color: #292E32;
    border-radius: 10px;
    height:800px;
    
  }
}

