#imagenPrincipal {
  width: 570px;
  margin-left: 90px;
  display: block;
}

#containerr{
  height: 100vh;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

#contenedor{
  margin-right: 90px;
}

#CitigerLogo {
  width: 130px;
  margin: auto;
  display: block;
}

.titulo {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.tituloCajas {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  padding-left: 5px;
  color: rgb(255, 255, 255);
}

.cajaTexto {
  background-color: transparent;
  border: 0.01rem solid #6C757D;
  color: white;
  border-radius: 16px;
  padding: 10px;
  height: 50px;
}

.cajaTexto:focus {
  background-color: transparent;
  border: 0.01rem solid #6C757D;
  color: white;
}

#controlesInicio {
  width: 330px;
  margin: auto;
  display: block;
}

input[placeholder],
[placeholder],
*[placeholder] {
  font-family: FontAwesome,'Manrope', sans-serif;
  font-size: 13px;
  padding-left: 15px;
}

::-webkit-input-placeholder {
  font-family: FontAwesome,'Manrope', sans-serif;
  font-size: 13px;
}

::-moz-placeholder {
  font-family: FontAwesome,'Manrope', sans-serif;
  font-size: 13px;

}

:-ms-input-placeholder {
  font-family: FontAwesome,'Manrope', sans-serif;
  font-size: 13px;

}

.checkboxLabel {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  padding-left: 5px;
  color: rgb(255, 255, 255);
}

[type="checkbox"] {
  display: none;
}

.checkboxCitiger {
  padding-left: 1.9em;
  position: relative;
}

.checkboxCitiger:before {
  content: ' ';
  color: #6C757D;
  border: 1px solid #6C757D;
  border-radius: 1px;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0.2em;
  transition: all 0.5s;
  transform: rotate(0deg);
}

[type="checkbox"]:checked+.checkboxCitiger:before {
  border-color: #5494F5;
  font-size: 12px;
  color: #5494F5;
  content: '\f00c';
  font-family: FontAwesome;
  transition: all 0.5s;
  transform: rotate(360deg);
}

.boton {
  font-size: 14px;
  padding: 15px 0px;
  width: 100%;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.2s;
  background-color: #5494F5;
  color: #202427;
  border: 0;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.boton:hover {
  background-color: #4174c2;
  color: #ffffff;
}

.boton2 {
  font-size: 14px;
  padding: 15px 0px;
  width: 100%;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.2s;
  background-color: transparent;
  border: 1px solid #5494F5;
  color: #5494F5;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;

}

.boton2:hover {
  background-color: #5494F5;
  color: #202427;
}

.texto {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color: #6C757D;
}


hr {
  margin: 7px;
  height: 1px;
  width: 30%;
  background-color: rgb(255, 255, 255);
}

/*Dashboard*/

body {
  background: #202427;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}


.colorCitiger {
  background-color: #202427;
}

#tarjeta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redondearImg {
  border-radius: 50px;
}

#usuario {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 0;
  border: 0;
  margin: 0;
}

#tipoUsuario {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #5494F5;
  padding: 0;
  border: 0;
  margin: 0;
}

#tarjetaPerfil {
  background-color: #292E32;
  border-radius: 20px;
  width: 85%;
  margin-left: 15px;
}

.botonesPerfil {
  color: #ADACB0;
  font-size: 20px;
}

.botonesPerfil:hover {
  color: #5494F5;
  font-size: 20px;
}

#filaBotones {
  display: flex;
  align-items: center;
  justify-content: center;
}

#botones {
  display: flex;
  width: 100px;
  display: inline-block;
}

.categoriasFuente {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #ADACB0;
  font-size: 14px;
}

.tamañoIconos {
  font-size: 15px;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -17rem;
}

.bg-darken {
  background-color: #202427;
}

.bg-darken:hover {
  background-color: #5494F5;
}


#cuadroContenido {
  padding: 50px;
  background-color: #292E32;
  border-radius: 10px;
}

.menuDiv{
  height: 95vh;
}

#content.active {
  width: 100%;
  margin: 0;
}


.nav-link {
  text-transform: capitalize;
  margin-left: 60px;
  margin-right: 40px;
  padding: 15px;
  border: 1px solid transparent;
}

.nav-link:hover {
  background: #292E32;
  border: 1px solid dark;
  border-radius: 50px;
}

.text-primary {
  color: #7579e7 !important;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
    /*width: rem;*/
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 17rem;
    /*width: calc(100% - 17rem);*/
  }


}

/*Botones de Menú*/

.botonMenu1{
  background-color: #DBAE61;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  float: right;
}

.botonMenu1:hover{
  background-color: #b89352;
}

.botonMenu2{
  background-color: #5494F5;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.botonMenu2:hover{
  background-color: #4b83d8;
}

.botonMenu3{
  background-color: #D35E8F;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.botonMenu3:hover{
  background-color: #af5178;
}

.textoBotonesMenu{
  font-family: 'Quicksand','sans-serif';
  font-size: 17px;
  font-weight: 700;
  color: #292E32;
  margin-top: 10px;
}

.tituloMenu{
  font-family: 'Quicksand','sans-serif';
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 10px;
}

.tituloPagina{
  font-family: 'Quicksand','sans-serif';
  font-size: 25px;
  font-weight: 700;
  color: #5494F5;
  margin-top: 10px;
}
.titulo1{
  font-family: 'Quicksand','sans-serif';
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 10px;
}

/*Controles de Formularios*/

.botonesListado{
  background-color: #5494F5;
  color: #292E32;
  font-family: 'Quicksand','sans-serif';
  font-size: 15px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.botonesListado:hover{
  background-color: #3964a3;
  color: white;
}

.botonesListadoInventario{
  background-color: #5494F5;
  color: #292E32;
  font-family: 'Quicksand','sans-serif';
  font-size: 15px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.botonesListadoInventario:hover{
  background-color: #3964a3;
  color: white;
}

.botonesListadoInventarioIcono{
  background-color: #5494F5;
  color: #292E32;
  font-family: 'Quicksand','sans-serif';
  font-size: 15px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}

.botonesListadoInventario:hover{
  background-color: #3964a3;
  color: white;
}

.tamañoIconosBotones{
  font-size: 12px ;
}

.buscador {
  background-color: transparent;
  border: 0.01rem solid #6C757D;
  color: white;
  border-radius: 16px;
  padding: 10px;
  height: 45px;
  width: 290px;
  float: right;
}

.buscador:focus {
  background-color: transparent;
  border: 0.01rem solid #6C757D;
  color: white;
}

.cajaTextoFormulario {
  background-color: #202427;
  border: 0.01rem solid #41464b;
  color: white;
  border-radius: 16px;
  padding: 10px;
  height: 40px;
  width: 290px;
  margin-bottom: 10px;
}

.cajaTextoFormulario1 {
  background-color: #202427;
  border: 0.01rem solid #41464b;
  color: white;
  border-radius: 16px;
  padding: 10px;
  height: 40px;
  width: 290px;
  margin-bottom: 10px;
}

.cajaTextoFormulario:focus {
  background-color: #202427;
  border: 0.01rem solid #41464b;
  color: white;
}

.cajaTextoFormulario1:focus {
  background-color: #202427;
  border: 0.01rem solid #41464b;
  color: white;
}

textarea[placeholder],
[placeholder],
*[placeholder]{
  padding-left: 15px;
}

.tituloCajaTextoFormulario{
  font-family: 'Manrope', sans-serif;
  color: #B4B4B4;
  font-size: 13px;
  padding-left: 15px;
}

/*Empleados*/
#EmpleadosColumna1{
  float: right;
}

.divFotografia{
  display: flex;
  flex-direction: inline;
  align-items: center;
  justify-content: center;
  width: min-content;
}

.divFotografiaAjustes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min-content;
  background-color: #202427;
  padding: 30px;
  border-radius: 20px;
}

.cargarFoto{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 1px solid #5494F5;
}

.btnCargarFoto{
  border: 1px solid #5494F5;
  background-color: transparent;
  color: #5494F5;
  margin-left: 10px;
}

.btnCargarFoto:hover{
  border: 1px solid transparent;
  background-color: #5494F5;
  color: #33373b;
}

.btnCargarFoto2{
  border: 1px solid #5494F5;
  background-color: transparent;
  color: #5494F5;
  margin-top: 20px;
}

.btnCargarFoto2:hover{
  border: 1px solid transparent;
  background-color: #5494F5;
  color: #33373b;
}

#paddingCajas{
  margin-top: 12px;
}

.btnAgregarFormulario{
  background-color: #5494F5;
  color: #292E32;
  font-family: 'Quicksand','sans-serif';
  font-size: 13px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.btnAgregarFormulario:hover{
  background-color: #3964a3;
  color: white;
}

.marginPrimeraColumna{
  margin-top: 35px;
}

.subTituloPagina{
  font-family: 'Quicksand','sans-serif';
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-top: 10px;
}

.subTituloPagina1{
  font-family: 'Quicksand','sans-serif';
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-top: 10px;
}

.table{
  background: #202427;
  border-radius: 16px;
  
}

tbody{
  color: white;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

.table td, .table th{
  border-top: none;
  border-left: none;
}

.imagenTabla{
  width:30px;
  height: 30px;  
}


.tamañoIconosBotonesTabla{
  font-size: 10px ;
}

.tamañoIconosBotonesTabla1{
  font-size: 15px ;
}


.botonesListadoTabla{
  background-color: #5494F5;
  color: #292E32;
  font-family: 'Quicksand','sans-serif';
  font-size: 15px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height:34px;
  
}

.botonesListadoTablaIcono:hover{
  background-color: #3964a3;
  color: white;
}

.botonesListadoTablaIcono{
  display: none;

}


.botonesListadoTablaIcono{
  background-color: #5494F5;
  color: #292E32;
  font-family: 'Quicksand','sans-serif';
  font-size: 18px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height:100px;
  
}

.botonesListadoTabla:hover{
  background-color: #3964a3;
  color: white;
}


.tituloTabla{
  font-family: 'Quicksand','sans-serif';
  font-size: 15px;
  font-weight: 700;
}

td{
  padding-top:27px !important;
  padding-bottom: 20px !important;
  padding-left: 30px !important;
}

th{
  padding-top:20px !important;
}


.primer{
  padding-top:40px !important;
}

.boto{
  padding-top:35px !important;
  padding-left:25px !important;
}

.icon{
  padding-left:25px !important;
}

.boto1{
  padding-top:30px !important;

}

#align{
  padding-right:40px !important;
}

.ultimo{
  padding-bottom: 35px !important;
}

.tarjeta{
  content: "";
  background-color: #202427;
  width: 280px;
  height: 300px;
  border-radius: 15px;
  padding: 15px;
}

.imagenTarjeta{
  border-radius: 15px;
}

.letraTarjeta{
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color:white;
}

.letraDestacadaTarjeta{
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color:#5494F5;
}

.botonesTarjeta{
  background-color: #5494F5;
  color: #292E32;
  font-family: 'Quicksand','sans-serif';
  font-size: 13px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

.botonesTarjeta:hover{
  background-color: #3964a3;
  color: white;
}



.margenTarjetas{
  max-width: min-content;
}

.modal-lg {
  max-width: 50% !important;
}

.modal-content {
  border-radius: 15px;
  background-color: #202427;

}

.textoModal {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color: #ffffff;
  justify-content: start;
}

.modal-header {
  border-bottom: 0 none;
  text-align: center !important;
}

.modal-footer {
  border-top: 0 none;
}

.tituloModal{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #65717a;
  justify-content: start;
}

.cuerpoModal{
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color: #ffffff;
  justify-content: start;
}

.iconoModal{
  color: #65717a;
  font-size: 18px;
}

.cajaTextoModal {
  background-color: #191c1f;
  border: 0.01rem solid transparent;
  color: #ffffff;
  border-radius: 16px;
  padding: 10px;
  height: 40px;
  margin-bottom: 10px;
  
}

.cajaTextoModal:focus {
  background-color: #191c1f;
  border: 0.01rem solid transparent;
  color: #ffffff;
}

.cajaTextoModal::-webkit-input-placeholder { color: #65717A; } 

.cajaTextoModal:-moz-placeholder { /* Firefox 18- */ color: #65717A; } 

.cajaTextoModal::-moz-placeholder { /* Firefox 19+ */ color: #65717A; } 

.cajaTextoModal:-ms-input-placeholder { color: #65717A; }

.contenedorMiCuenta{
  min-width:min-content;
}

.tituloInformacion{
  font-family: 'Quicksand',sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #808080;
}

.informacion{
  font-family: 'Manrope',sans-serif;
  font-size: 13px;
  color: #ffffff;
}

.botonesAjustes{
  background-color: transparent;
  color: #5494F5;
  border: 1px solid #5494F5;
  font-family: 'Quicksand','sans-serif';
  font-size: 13px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
  margin-top: 5px;
}

.botonesAjustes:hover{
  background-color: #5494F5;
  color: white;
}

.informacionPersonal{
  width: 700px;
  padding: 30px;
  border-radius: 20px;
  content: "";
  background-color: #202427;
}

#tablaDashboard{
  width: 840px !important;
}

.tituloUsuario{
  font-family: 'Manrope',sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}

.tituloTarjetaAjustes{
  font-family: 'Manrope',sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  margin-left: 30px;
  text-align: left;
}

.tablaMarcas{
  width: 700px !important;
}

.tablaMarcas td, .tablaMarcas th{
  text-align: center;
  font-size: 15px;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.btnInicio{
  background-color: transparent;
  border-radius: 20px;
  padding: 5%;
  border-left: 3px solid transparent;
  margin-left: 12px;
}

.btnInicio:hover{
  background-color: #292E32;
  border-left: 3px solid #5494F5;
}

.tarjetaDashboard{
  width: 260px;
  height: 260px;
  background-color: #202427;
  border-radius: 20px;
  content: "";
}

.contadorTarjetaDashboard{
  font-family: 'Manrope',sans-serif;
  font-size: 40px;
  color: #5494F5;
}

.tituloDashboard{
  font-family: 'Quicksand',sans-serif;
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.btnTarjetaDashboard{
  float: right;
  color: #FDB85A;
  margin-top: 5px;
  margin-right: 5px;
}

.icono1{
  color: #FDB85A;
  font-size: 50px;
}

.icono2{
  color: #EE786C;
  font-size: 50px;
}

.icono3{
  color: #20BFA9;
  font-size: 50px;
}

.tituloTarjetaDashboard{
  font-family: 'Quicksand',sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 700;
  padding-left: 50px;
  padding-right: 50px;
}

.btnTarjetaDashboard:hover{
  color: #8b6530;
}

.btnTarjetaDashboard2{
  float: right;
  color: #EE786C;
  margin-top: 5px;
  margin-right: 5px;
}

.btnTarjetaDashboard2:hover{
  color: #994d45;
}

.btnTarjetaDashboard3{
  float: right;
  color: #20BFA9;
  margin-top: 5px;
  margin-right: 5px;
}

.btnTarjetaDashboard3:hover{
  color: #178374;
}

/*Responsive*/

@media screen and (max-width:1200px) {

  .tituloDashboard{
    text-align: center;
  }

  #imagenPrincipal {
    width: 0;
    height: 0;
  }

  #contenedor {
    margin: auto;
    display: block;
  }

  .centrarBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    float: none !important;
  }

  .botonMenu1{
    margin-bottom: 22px;
  }

  .centrarColumnas{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tituloPagina{
    margin-top: 40px;
  }

  .marginPrimeraColumna{
    margin-top: 10px;
  }

  .menuDiv{
    height: auto;
  }

  #agregarMaterial{
    margin-bottom: 15px;
  }

  .margenTarjetas{
    margin-bottom: 20px;
  }

  .botonesListadoInventario{
    display: none;
  }

  .botonesListadoInventarioIcono{
    display: block;
  }

  .informacionPersonal{
    width: 300px;
  }

  .modal-lg {
    margin: auto;
    max-width: 60%;
  }

  #tablaCarrito{
    width: auto;
  }

  .columnaBotones{
    display: flex;
    flex-direction: column;
  }

  .botonesCarrito{
    margin: 0 !important;
  }
}


/*Responsive*/
@media screen and (max-width:1200px) {
  .botonesListadoTablaIcono{
    display: inline;
  }

  .botonesListadoTabla{
    display: none;
  }
}

@media screen and (max-width:1200px) {
  .centrarBotones{
    order: 2;
 
  }
  
  .buscador {
    order: 1;
    float: none;
    height: 45px;
    width: 300px;

  }

  .search{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

  }

  .inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;

  }

}

/*Medidas Tabla Carrito*/

#tablaCarrito{
  background-color: #15181A;

}

.colorTabla{
  background-color: #15181A;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
}

#tablaCarrito td{
  padding: 0 !important;
  margin: 0 !important;
  padding: 15px !important;
  font-family: 'Manrope',sans-serif;
  font-size: 13px;
}

#tablaCarrito th{
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Quicksand',sans-serif;
  font-size: 13px;
}

.paddingTh{
  padding-top: 15px !important;
}

.paddingBotones{
  padding-top: 10px !important;
}

.botonesCarrito{
  background-color: #5494F5;
  color: #292E32;
  font-family: 'Quicksand','sans-serif';
  font-size: 10px;
  font-weight: 700;
}

.botonesCarrito:hover{
  background-color: #3964a3;
  color: white;
}

#columnaFotoCarrito {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#columnaMaterialCarrito {
  padding-left: 300px !important;
  padding-right: 70px !important;
}

#columnaCantidadCarrito {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

#columnaSubtotalCarrito {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#columnaEliminarCarrito {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.totalLabel{
  font-family: 'Quicksand',sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.totalNumeroLabel{
  font-family: 'Quicksand',sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #5494F5;
}

