/*Variables de Color*/
:root {
    --color-fondo: #ffffff;
    --color-fondo-opaco: #F1F4F9;
    --color-tipografia-titulos: #333333;
    --color-tipografia: #000000;
    --bordes-inputs: #999999;
    --color-citiger: #5494F5;
    --color-citiger-hover: #4174c2;
    --color-citiger-claro: #c5dcff;
}

/*Inicio del Login*/

body {
    background: var(--color-fondo) !important;
    min-height: 100vh;
    overflow-x: hidden;
}

#imagenPrincipal {
    width: 570px;
    margin-left: 90px;
    display: block;
}

.titulo {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: var(--color-tipografia-titulos);
}

.tituloCajasLogin {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-left: 5px;
    color: var(--color-tipografia-titulos);
}

.cajaTextoLogin {
    background-color: transparent;
    border: 0.01rem solid var(--bordes-inputs);
    color: var(--color-tipografia);
    border-radius: 16px;
    padding: 10px;
    height: 50px;
}

.cajaTextoLogin:focus {
    background-color: transparent;
    border: 0.01rem solid var(--bordes-inputs);
    color: var(--color-tipografia);
}

.cajaTextoLogin input[placeholder],
[placeholder],
*[placeholder] {
    font-family: FontAwesome, 'Manrope', sans-serif;
    font-size: 15px;
    padding-left: 15px;
}

.cajaTextoLogin::-webkit-input-placeholder {
    font-family: FontAwesome, 'Manrope', sans-serif;
    font-size: 15px;
}

.cajaTextoLogin::-moz-placeholder {
    font-family: FontAwesome, 'Manrope', sans-serif;
    font-size: 15px;

}

.cajaTextoLogin:-ms-input-placeholder {
    font-family: FontAwesome, 'Manrope', sans-serif;
    font-size: 15px;

}

.checkboxLabel {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    padding-left: 5px;
    color: var(--color-tipografia);
}

.botonLogin {
    font-size: 14px;
    padding: 15px 0px;
    width: 100%;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.2s;
    background-color: var(--color-citiger);
    color: var(--color-fondo);
    border: 0;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.botonLogin:hover {
    background-color: var(--color-citiger-hover);
    color: var(--color-fondo);
}

.botonLogin2 {
    font-size: 14px;
    padding: 15px 0px;
    width: 100%;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.2s;
    background-color: transparent;
    border: 1px solid var(--color-citiger);
    color: var(--color-citiger);
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.botonLogin2:hover {
    background-color: var(--color-citiger);
    color: var(--color-fondo);
}

/*Final del Login*/

/*Sidebar*/
.colorCitiger {
    background-color: var(--color-fondo) !important;
}

.btnInicio {
    background-color: transparent;
    border-radius: 20px;
    padding: 5%;
    border-left: 3px solid transparent;
    margin-left: 12px;
}

.btnInicio:hover {
    background-color: var(--color-fondo-opaco);
    border-left: 3px solid var(--color-citiger);
}

#tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tarjetaPerfil {
    background-color: var(--color-fondo-opaco) !important;
    border-radius: 20px;
    width: 85%;
    margin-left: 15px;
}

#usuario {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-tipografia-titulos) !important;
    padding: 0;
    border: 0;
    margin: 0;
}

#tipoUsuario {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 700 !important;
    color: var(--color-citiger) !important;
    padding: 0;
    border: 0;
    margin: 0;
}

.botonesPerfil {
    color: var(--color-tipografia-titulos) !important;
    background-color: transparent;
    font-size: 20px;
}

.botonesPerfil:hover {
    color: var(--color-citiger) !important;
    background-color: var(--color-citiger-claro);
    font-size: 20px;
}

.nav-link {
    text-transform: capitalize;
    margin-left: 60px;
    margin-right: 40px;
    padding: 15px;
    border: 1px solid transparent;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: var(--color-tipografia-titulos) !important;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.2s;
    border-radius: 10px !important;
}

.nav-link:hover {
    background: var(--color-citiger-claro) !important;
    border: 1px solid dark;
    color: var(--color-citiger) !important;
    border-radius: 10px !important;
}

/*Fin del Sidebar*/

/*Dashboard*/

#cuadroContenido {
    padding: 50px;
    background-color: var(--color-fondo) !important;
    border-radius: 10px;
}

.tituloDashboard {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: var(--color-tipografia-titulos);
    font-weight: 700;
}

.bg-darken {
    background-color: transparent !important;
    color: var(--color-tipografia-titulos) !important;
}

.bg-darken:hover {
    background-color: var(--color-citiger-claro) !important;
    color: var(--color-citiger) !important;
}

.tarjetaDashboard {
    width: 260px;
    height: 260px;
    background-color: var(--color-fondo-opaco);
    border-radius: 20px;
    content: "";
}

.tituloTarjetaDashboard {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: var(--color-tipografia);
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;
}

.table {
    background: var(--color-fondo) !important;
    border-radius: 16px;
}

tbody {
    color: var(--color-tipografia) !important;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.table td,
.table th {
    border-top: none;
    border-left: none;
}

.imagenTabla {
    width: 30px;
    height: 30px;
}

/*Fin del dashboard*/